.title {
    font-family: 'Google Sans', 'Inter', 'IBM Plex Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    height: 25vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10rem;
}

body {
    background-color: rgb(242, 242, 242);
}

.footer {
    text-align: center;
    width: 100vw;
    background-color: #111;
    color: rgb(212, 212, 212);

}